# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [4]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2- num1
print(result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [12]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [17]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [19]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [22]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [24]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [28]:
name = "Allison"
print(name)

Allison

##### print() <br>
<p>Don't forget about end=' '</p>

In [32]:
print("This is my first name:", name )

print("Full Name:", name, end=" Daniel")

This is my first name: Allison
Full Name: Allison Daniel

##### String Concatenation

In [36]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [39]:
number = "32"

change_type_to_num = int(number)
print(number)
print(change_type_to_num + 1)

32
33

##### input()

In [43]:
name = input("What is your name ")
print(name)
print("Nice to meet you " + name)

age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your name Allison
Allison
Nice to meet you Allison
What is your age? 24
29

##### format()

In [48]:
age = input("What is your age?")

result_string = "You are {} {} and are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age?24
You are 24 Allison and are getting wiser!
24 is a great time in life!

##### Old Way (python 2)

In [49]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

You are 24 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [51]:
color = input("What color is your car?")
year = input("What year was your car made?")
model = input("What model is your car?")

car = f"You have a {year} {color} {model}."
print(car)

What color is your car?silver
What year was your car made?2010
What model is your car?Versa
You have a 2010 silver Versa.

### If Statements

In [69]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5
num3 = 0

# if num1 == num2:
#     print('This is equal value')
# else:
#     print('Not equal')

if num2 > num1 or num3 > 0:
    print("Num2 is greater")
elif num1 > num2:
    print("Num1 is greater")
else:
    print("equal values")

equal values

##### 'is' keyword

In [72]:
# The 'is' keyword is for checking for the same object, but not the same value

num3 =55
if num3 == 55:
    print('This is the exact number/object')

This is the exact number/object

##### 'in' keyword

In [74]:
# check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [75]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print('a is NOT in here...')

a is NOT in here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [77]:
answer = input("What is your favorite color?")

if 'p' in answer:
    print("Your favorite color has a 'p' in it!")
else:
    print("Your favorite color does not have a 'p' in it.")

What is your favorite color?red
Your favorite color does not have a 'p' in it.

## Using 'and'/'or' with If Statements

In [82]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 -7 == num_14:
    print("True and True")

if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [87]:
first_name = input("What is your name?")

if first_name == 'Smith':
    print("The name is Smith")
elif first_name == 'Allison':
    print("The name is Allison")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name?Joe
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [91]:
# Syntax:
# for counter in condition

name = 'Allison Daniel'

for letter in name:
    print(letter)

A
l
l
i
s
o
n

D
a
n
i
e
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [93]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [95]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [97]:
for i in name:
    pass

##### Double For Loops

In [99]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [100]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [104]:
game_over = True

while game_over:
    print("infinite loop")
    user_input = input('Would you like to stop?')
    if user_input == 'Yes':
        game_over = False

infinite loop
Would you like to stop?Yes

##### While & For Loops Used Together

In [105]:
num = 0
while num < 5:
    print("\nWhile loop iteration: " +str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i))
    
    num += 1

While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [106]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [107]:
name = input("What is your favorite book?")

length = len(name)
print(length)

What is your favorite book?October Country
15

##### help()

In [108]:
# use this function to view more info about a python function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [110]:
# check a variable to find out what object family (or data type) it belongs to
# Syntax: isinstance(var, type)

num = 4.5
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [111]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [113]:
# us this to log useful error messasges
# does not stop program

try:
    input_num = int(input('guess a number'))
    print("Your number is " + str(input_num))
except:
    print('that didnt work, change input to a number')

guess a numbernumber
that didnt work, change input to a number

### Lists

##### Declaring Lists

In [114]:
list_1 = []

names = ["Max", "Cindy","Kathy","Bob","Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [120]:
# list_name[start:stop:step]

# single index
print(names[0])

# print starting at index 1 going to the end
print(names[1:])

# print from beginning of a list up to a specified index
print(names[:2])

# print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# print starting from end of list and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [130]:
names.append('Allison')
print(names)

['Max', 'Cindy', 'Devon', 'Nate', 'Allison', 'Allison', 'Allison']

##### .insert()

In [124]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Allison', 'Allison']

##### .pop()

In [126]:
# defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Allison']


##### .remove()

In [131]:
# value to be removed rather than index

# names.remove('Bob')
# print(names)

# removed multiple allisons from list
while 'Allison' in names:
    names.remove('Allison')
print(names)

['Max', 'Cindy', 'Devon', 'Nate']

##### del()

In [132]:
# goes by index, rather than value
# be careful with del, it can cause indexing erros if not used carefully

# deletes permanently 

del(names[1])
print(names)

['Max', 'Devon', 'Nate']

##### Concatenating Two Lists

In [136]:
# will append two lists together, will NOT add the values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [135]:
# list can hold any type of element. Including other lists
# they can go as deep as you want: this is called nested lists

names = ['max','sam','josh',['sally','sue','tamera']]
print(names)
print(names[3][1])

['max', 'sam', 'josh', ['sally', 'sue', 'tamera']]
sue

##### Looping Through Lists

In [139]:
# two ways of looping through a list: by index or by using the 'in' keyword

# by index:
for i in range(len(names)):
    print(names[i])
    
# loop with 'in':
for name in names:
    print(name)

max
sam
josh
['sally', 'sue', 'tamera']
max
sam
josh
['sally', 'sue', 'tamera']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [147]:
nums = range(40)

for num in nums:
    if num**2 < 1000:
        print(num**2)
    else:
        break

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [28]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


nums = range(1,100)

for num in nums:
    if num > 1:
        for i in range (2,num):
            if(num % i) == 0:
                break
            else:
                print(f"{num} is a prime number")
                break

3 is a prime number
5 is a prime number
7 is a prime number
9 is a prime number
11 is a prime number
13 is a prime number
15 is a prime number
17 is a prime number
19 is a prime number
21 is a prime number
23 is a prime number
25 is a prime number
27 is a prime number
29 is a prime number
31 is a prime number
33 is a prime number
35 is a prime number
37 is a prime number
39 is a prime number
41 is a prime number
43 is a prime number
45 is a prime number
47 is a prime number
49 is a prime number
51 is a prime number
53 is a prime number
55 is a prime number
57 is a prime number
59 is a prime number
61 is a prime number
63 is a prime number
65 is a prime number
67 is a prime number
69 is a prime number
71 is a prime number
73 is a prime number
75 is a prime number
77 is a prime number
79 is a prime number
81 is a prime number
83 is a prime number
85 is a prime number
87 is a prime number
89 is a prime number
91 is a prime number
93 is a prime number
95 is a prime number
97 is a prime number
99 is a prime number

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [165]:
age = int(input("What is your age? "))

if age < 18:
    print("You are a kid")
elif age > 18 and age < 65:
    print("You are an adult")
else:
    print("You are a senior")

What is your age? 98
You are a senior